.header {
  width: 70vw;
  position: fixed;
  top: 3%;
  height: 10vh;
  left: 15%;
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: black;
}

#buttonContainer {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: white;
}

#homeBtn {
  background-color: white;
  color: black;
  font-family: Century Gothic;
  font-size: 14px;
  border: none;
  width: 25%;
  height: 100%;
}

#adoptedBtn {
  background-color: white;
  color: black;
  font-family: Century Gothic;
  font-size: 14px;
  width: 25%;
  height: 100%;
  border: none;
}

#checkoutBtn {
  background-color: white;
  color: black;
  font-family: Century Gothic;
  font-size: 14px;
  border: none;
  width: 35%;
  height: 100%;
  margin-left: 15%;
}

#pkballIcon {
  width: 2vw;
}

#adoptedBtn:hover {
  background: #5f5f5f;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#homeBtn:hover {
  background: #5f5f5f;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#checkoutBtn:hover {
  background: #5f5f5f;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
